<h1>
  Order Form
</h1>
<div>Email: <input type="text" [value]="order.email" /> </div>
<app-order-item></app-order-item>
<ul>
  <!-- iterates pizzas in appComponent -->
  <li *ngFor="let orderItem of order.orderItems">
    {{ orderItem.pizza.name }} x {{ orderItem.amount }}
    <input type="number" [(ngModel)]="orderItemAmount" min="0" /> =
    {{orderItem.pizza.price * orderItem.amount}}
  </li>
</ul>
<div> Total: <strong>{{ order.orderTotal }}</strong></div>
<button type="button" (click)="submitOrder()">Order</button>
